/* Общие стили для всей формы */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
	margin-top: 5%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовка формы */
h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

/* Стили для полей ввода и элементов формы */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f7f7f7;
    color: #495057;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #80bdff;
    outline: none;
}

textarea {
    resize: vertical; /* Разрешить вертикальное изменение размера текстового поля */
}

/* Стили для кнопки отправки */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
