{% extends "layout.html" %}

{% block title %}New card{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/addCardPage.css') }}">
{% endblock %}

{% block content %}
{% if form.errors %}
{{ form.errors }}
{% endif %}
<div class="container">
	<h2>New card</h2>
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.title.label }}
			{{ form.title(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.category.label }}
			{{ form.category(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.purpose.label }}
			{{ form.purpose(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.stage.label }}
			{{ form.stage(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.description.label }}
			{{ form.description(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.price.label }}
			{{ form.price(class="form-control") }}
		</div>
		<div class="form-group">
			{{ form.photos.label }}
			{{ form.photos(class="form-control") }}
		</div>
		<div>{% if error %} {{ error }} {% endif %}</div>
		<input type="submit" value="Submit" class="btn btn-primary">
	</form>
</div>
<script src="{{ url_for('static', filename='js/categoriesDropdownNewCardForm.js') }}"></script>

{% endblock %}
