{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>

<!-- Ваша статическая кнопка -->
<div style="text-align: center; ">
    <a href="/cards/newcard" class="add-button">Добавить объявление</a>
</div>

<div class="loading-overlay">
    <div class="loading-spinner"></div>
</div>

<div style="height: 110px;"></div>

{% if cards %}
<div class="card-grid">
    {% for card in cards %}
    <div class="card">
        <img src="https://www.advgazeta.ru/upload/iblock/c6a/10_osnovnykh_prav_potrebiteley_1.jpg" alt="Product Image">
        <p id="cid" style="display: none;"></p>
        <h3>{{ card.name }}</h3>
        <p>{{ card.description }}</p>
        <p class="price">${{ card.price_usd }}</p>
        <p class="author">Автор: {{ card.owner_id }}</p>
        <p class="category">Категория: {{ card.category }}</p>
        <p class="target">Цель продавца: {{ card.target }}</p>
        <p class="likes">Кол-во закладок: {{ card.bookmarks_count }}</p>
        <!-- <button class="executeButton" data-argument="{{ card.cid }}">Больше информации на почту</button> -->
        <button class="executeButton2" data-argument="{{ card.cid }}">Добавить в корзину</button>
    </div>
    {% endfor %}
</div>
{% endif %}

<script>
    $(document).ready(function(){
        $(".executeButton").click(function(){
            showLoadingOverlay(); // Показать индикатор загрузки
        
            var argumentValue = $(this).data('argument');
            var csrfToken = "{{ csrf_token() }}";
        
            $.ajax({
                type: 'POST',
                url: '/getEmailInfo',
                data: {argument: argumentValue, csrf_token: csrfToken},
                success: function(response){
                    hideLoadingOverlay(); // Скрыть индикатор загрузки
                    alert('Сообщение отправлено');
                },
                error: function(error){
                    hideLoadingOverlay(); // Скрыть индикатор загрузки
                    alert('Ошибка: ' + error.responseText);
                }
            });
        });

    $(".executeButton2").click(function(){
        showLoadingOverlay(); // Показать индикатор загрузки
    
        var argumentValue = $(this).data('argument');
        var csrfToken = "{{ csrf_token() }}";
    
        $.ajax({
            type: 'POST',
            url: '/toLike',
            data: {argument: argumentValue, csrf_token: csrfToken},
            success: function(response){
                hideLoadingOverlay(); // Скрыть индикатор загрузки
                alert('Товар добавлен в корзину');
            },
            error: function(error){
                hideLoadingOverlay(); // Скрыть индикатор загрузки
                alert('Ошибка: ' + error.responseText);
            }
        });
    });

    function showLoadingOverlay() {
        $(".loading-overlay").show();
    }

    function hideLoadingOverlay() {
        $(".loading-overlay").hide();
    }
});
</script>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
