{% extends "layout.html" %}

{% block title %}Корзина{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/myCardsPage.css') }}">

{% endblock %}

{% block content %}

<div style="height: 110px;"></div>

{% if cards %}
	<div class="card-grid">
		{% for card in cards %}
			<div class="card">
				<img src="https://www.advgazeta.ru/upload/iblock/c6a/10_osnovnykh_prav_potrebiteley_1.jpg" alt="Product Image">
				<h3>{{ card.name }}</h3>
				<p>{{ card.description }}</p>
				<p class="price">${{ card.price_usd }}</p>
				<p class="category">Категория: {{ card.category }}</p>
				<p class="target">Цель продавца: {{ card.target }}</p>
				<p class="likes">Кол-во закладок: {{ card.bookmarks_count }}</p>
			</div>
		{% endfor %}
	</div>
{% endif %}


{% endblock %}