{% extends "layout.html" %}

{% block title %}My cards{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/myCardsPage.css') }}">

{% endblock %}

{% block content %}

<div class="container">
    <h1 class="header-title">My Cards</h1>
    <p class="container-comment">Here you can find your cards</p>
</div>

<div class="card-grid">
	{% for card in cards %}
		<div class="card">
			<img src="https://www.advgazeta.ru/upload/iblock/c6a/10_osnovnykh_prav_potrebiteley_1.jpg" alt="Product Image">
			<h3>{{ card.name }}</h3>
			<p>{{ card.description }}</p>
			<p class="price">${{ card.price_usd }}</p>
			<p class="category">Category: {{ card.category }}</p>
			<p class="target">Target: {{ card.target }}</p>
			<p class="likes">Bookmarks: {{ card.bookmarks_count }}</p>
			<button>Add to Cart</button>
		</div>
	{% endfor %}
</div>

{% endblock %}